.maintenacanceTips_content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 7.112vw;
}
ul:not(.menu_navigation){
display: flex;
flex-direction: column;
gap: 0.875rem;
}
.maintenacanceTips_content p,.maintenacanceTips_content li{
    font-size: 1.125rem;
    line-height: 1.35rem;
    font-family: PTSansRegular;
}

main{
    margin-bottom: 7.112vw;
}